unityshaderscollection-unity/.idea
unityshaderscollection-unity/UserSettings
unityshaderscollection-unity/Library
unityshaderscollection-unity/Logs
unityshaderscollection-unity/Temp
unityshaderscollection-unity/obj
*.csproj
*.sln
*.DS_Store
